@tailwind base;
@tailwind components;
@tailwind utilities;


/* thin themed scrollbar */
.themed-scroll::-webkit-scrollbar {
  width: 4px;
}

.themed-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.themed-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 999px;
}